alembic
attrs
blinker
certifi
charset-normalizer
click
exceptiongroup
filelock
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
huggingface-hub
idna
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
joblib
Mako
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
Pillow
pluggy
psycopg2-binary
PyJWT
pytest
python-dotenv
python-http-client
PyYAML
regex
requests
scikit-learn
scipy
sendgrid
sentence-transformers
sentencepiece
six
SQLAlchemy
starkbank-ecdsa
sympy
threadpoolctl
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
transformers
typing-extensions
urllib3
Werkzeug
zipp
